.ProjectContainer {
  width: 100%;
  background: #131313;
  padding: 30px 0;
  margin: 0;
}

.projectName {
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 30px 0;
}

.rhImage,
.farmerImage,
.sweetImage,
.automationImage, .BlogImage,
.complaintImage , .SquidGameImage, 
.EcommerceWebImage, .WeatherImage{
  width: 420px;
  height: 300px;
}

.rowProject {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col-4-Project {
  margin: 20px;
  box-shadow: 2px 4px 6px 10px #fff;
}

.flip-box {
  background-color: transparent;
  width: 420px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s ease;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
  padding: 90px 0px;
  transform-style: preserve-3d;
}

.flip-box-back div{
  transform-style: preserve-3d;
  padding: 8px;
  background: linear-gradient(45deg , #fe0061 , #ffeb3b);
  transform: translateZ(100px);
}

.flip-box-back div h2{
  font-size: 20px;
  color: #fff;
}

.flip-box-back div p{
  font-size: 15px;
}

.LinksOfProject{
  height: 40px;
  width: 90px;
  text-align: center;
  margin: 20px auto;
  border-radius: 5px;
}

.LinksOfProject a{
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .rowProject {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .col-4-Project {
    width: 95%;
    margin: 20px 0;
  }
  .rhImage,
  .farmerImage,
  .sweetImage,
  .automationImage, 
  .BlogImage,
  .complaintImage,
  .SquidGameImage, 
  .EcommerceWebImage, 
  .WeatherImage {
    width: 100%;
    height: 300px;
  }

  .flip-box {
    background-color: transparent;
    width: 100%;
    height: 300px;
  }

  
}
