.ProjectContainer {
  width: 100%;
  /* height: 130vh; */
  background: #131313;
  padding: 30px 0;
  margin: 0;
  overflow-x: hidden;
}

.projectName {
  font-size: 60px;
  text-align: center;
  padding-top: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 30px 0;
}

.rhImage,
.farmerImage,
.sweetImage,
.automationImage {
  width: 420px;
  height: 300px;
}

.rowProject {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col-4-Project {
  margin: 20px;
  box-shadow: 2px 4px 6px 10px #fff;
}

@media screen and (max-width: 768px) {
  .rowProject {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .col-4-Project {
    width: 95%;
    margin: 20px 0;
  }
  .rhImage,
  .farmerImage,
  .sweetImage,
  .automationImage {
    width: 100%;
    height: 300px;
  }
}
